* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: rgb(9, 9, 9);
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}
li,
a {
  text-decoration: none;
  list-style: none;
}
